<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: page_head"></head>
<body>

<nav th:replace="layout :: page_navbar"></nav>

<div class="container py-3">
    <h1 class="text-center my-4">Products</h1>


    <!-- products/index.html -->
    <form method="get" action="/products/search">
        <input type="text" name="name" placeholder="Product name...">

        <select name="category">
            <option value="">Select Category</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category}" th:text="${category}"></option>
            </th:block>
        </select>

        <select name="colorVariants">
            <option value="">Select Color</option>
            <th:block th:each="color : ${colorVariants}">
                <option th:value="${color}" th:text="${color}"></option>
            </th:block>
        </select>

        <select name="brand">
            <option value="">Select Brand</option>
            <th:block th:each="brand : ${brands}">
                <option th:value="${brand}" th:text="${brand}"></option>
            </th:block>
        </select>

        <input type="number" name="stock" placeholder="Stok...">

        <button type="submit">Ara</button>
    </form>

    <form th:action="@{/products/sort}" method="get">
        <select name="field">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="stock">Stock</option>
            <option value="createdAt">Date Created</option>
        </select>
        <select name="direction">
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
        </select>
        <button type="submit" class="btn btn-secondary">Sort</button>
    </form>

    <form th:action="@{/products/filter}" method="get">
        <input type="number" step="0.01" name="minPrice" placeholder="Min Price">
        <input type="number" step="0.01" name="maxPrice" placeholder="Max Price">
        <input type="number" step="1" name="minStock" placeholder="Min Stock">
        <input type="number" step="1" name="maxStock" placeholder="Max Stock">

        <button type="submit" class="btn btn-secondary">Filter</button>
    </form>


    <a class="btn btn-primary" href="/products/create"><i class="fa-solid fa-plus"></i> Create Product</a>

    <!-- Table structure correction -->
    <table class="table">
        <thead>
        <tr class="table-header">
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color Variants</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.stock}"></td> <!-- Stok bilgisi -->
            <td th:text="${product.colorVariants}"></td> <!-- Renk seçenekleri -->
            <td>
                <img th:src="@{'/images/' + ${product.imageFileName}}"
                     alt="Product Image" width="100">
            </td>
            <td th:text="${product.createdAt.toString().substring(0,10)}"></td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/products/edit(id=${product.id})}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{/products/delete(id=${product.id})}" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="layout :: page_footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
